:root {
    --main-bg-color: #fff;
    --secondary-bg-color: #ababab;
    --header-text-color: whitesmoke;
    --button-color: #212529;
    --title-font: 'Sawarabi Mincho', sans-serif;
}

/* General Styling Start */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: var(--main-bg-color);
}

h1 {
    font-family: var(--title-font);
    color: var(--header-text-color);
    font-size: 40px;
}
/* General Styling End */

/* Header Start */

.title {
    text-align: center;
    margin: 15px;
}

.title h1 {
    margin-bottom: 0px;
}

#logo-img {
    border-radius: 90%;
    height: 60px;
    box-shadow: 0 0 5px;
}

header h2 {
    font-size: 20px;
    color: var(--header-text-color);

}

ul {
    margin: 10px;
    line-height: 2.5;
}

ul li a {
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    transition: .3s;
}

ul li a:hover {
    font-weight: bolder;
    color: black;
}

.navbar {
    background-color: var(--secondary-bg-color);
}

/* Header End */

/* Hero Start */
.hero {
    position: relative;
    height: 50vw;
    width: 100%;
    background-image: url("https://drive.google.com/uc?id=1tKtQug8OcevTmQqJf8HLKGkqFt-ato32");
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
}

.about-me {
    font-size: 1.3vw;
    background-color: rgba(130, 145, 147, .8);
    border-radius: 5px;
    position: absolute;
    margin-left: 7vw;
    padding: 15px;
    bottom: 35%;
    width: 30%;
    color: var(--header-text-color);
}

/* Hero End */

/* Contact Me Start */

#contact-me {
    margin: auto;
    width: 60%;
    margin-top: 70px;
    margin-bottom: 70px;
}

#contact-me h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    background-color: var(--header-text-color);
}

#text-submit {
    height: 100px;
}

/* Contact Me End */

/* Footer Start */

footer {
    padding: 40px;
    background-color: var(--button-color);
    color: white;
}

footer a {
    text-decoration: none;
    margin-right: 15px;
}

footer svg {
    transition: .3s;
}

footer svg:hover {
    opacity: .5;
}

footer h2,
footer p {
    text-align: center;
}



/* *Bio Styling start */

.bio-page #logo-img {
    margin: 15px;
}

.bio-page a {
    text-decoration: none;
    color: black;
}

.bio-page main img {
    background-color: #090909;
    max-height: 781px;
    max-width: 517px;
}

.bio-page h2 {
    text-align: center;
    border-bottom: solid var(--bs-body-color) 2px;
}

.bio-page main button {
    text-transform: uppercase;
}



/* *Lessons Page Styling Start */

.lessons-page header img{
    color: black;
    margin: 15px;
}

.hero-lessons {
    margin: 30px auto;
    position: relative;
    height: 50vw;
    width: 100%;
    background-image: url("https://drive.google.com/uc?id=1jsBLTMUVKOrqHNgGUrGCod1VPx_Vo_U8");
    background-color: #060405;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1000px;
    max-height: 500px;
}

.about-lessons {
    height: 300px;
    font-size: 20px;
    background-color: rgba(130, 145, 147);
    border-radius: 5px;
    position: absolute;
    left: 55%;
    padding: 65px;
    bottom: 15%;
    width: 35%;
    color: var(--header-text-color);
}

.lessons-page .modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
}

.lessons-page .card {
    width: 25rem;
    text-align: center;
    margin: 30px;
}

.card-handbook img {
    background-color: #ebdec9;
}

/* *Events Page Start */

.events-page #logo-img {
    margin: 15px;
}

.events-page header a {
    text-decoration: none;
    color: black;
}

/* Media Queries Start */

@media screen and (max-width: 768px) {

    ul li a {
        font-size: 16px;
    }

    /* position picture from top */
    .hero {
        background-position: bottom;
    }

    /* center about me */
    .about-me {
        font-size: 15px;
        position: relative;
        margin: 30px;
        color: var(--header-text-color);
        width: auto;
        bottom: auto;
        top: 25%;
    }

    /* *Lessons Page Start */

    .lessons-page .card {
        width: 15rem;
        text-align: center;
        margin: 30px auto;

    }

    .hero-lessons {
        height: 400px;
        width: 100%;
    }
    
    .about-lessons {
        height: 300px;
        font-size: 20px;
        border-radius: 5px;
        position: relative;
        margin: auto;
        left: 20%;
        padding: 20px;
        bottom: auto;
        width: 60%;
        top: 15%;
    }

}