:root {
    --main-bg-color: #fff;
    --secondary-bg-color: #ababab;
    --header-text-color: whitesmoke;
    --button-color: #212529;
    --title-font: 'Sawarabi Mincho', sans-serif;
}

/* General Styling Start */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: var(--main-bg-color);
}

h1 {
    font-family: var(--title-font);
    color: var(--header-text-color);
    font-size: 40px;
}
/* General Styling End */

/* Header Start */

.title {
    text-align: center;
    margin: 15px;
}

.title h1 {
    margin-bottom: 0px;
}

#logo-img {
    border-radius: 90%;
    height: 60px;
    box-shadow: 0 0 5px;
}

header h2 {
    font-size: 20px;
    color: var(--header-text-color);

}

ul {
    margin: 10px;
    line-height: 2.5;
}

ul li a {
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    transition: .3s;
}

ul li a:hover {
    font-weight: bolder;
    color: black;
}

.navbar {
    background-color: var(--secondary-bg-color);
}

/* Header End */

/* Hero Start */
.hero {
    position: relative;
    height: 50vw;
    width: 100%;
    background-image: url("https://lh3.googleusercontent.com/wSQNblezGR500wslMu-MRUXt3xaKf-IfiH0F3awe0DgAxz53LBCihoL0fjSARfepfrn18vInka5Ov2xwnWrZqhfUtWZWgjk_fldy9IVRkZS2JK10Xx1QcjUSo6SC-ixOkhxlUfnwRWOjTmX2MYug3e51UA5FeP5L0yRZtIDHMarDHxRQwL1r7LFXxWSLtTuM3Sh3W5p9ypc4kFmda_epGJhWEDs8uJTklJduwmGCD6Q4vi2Ax4hzrQvlA_PaFxK_LSyE-H9pPSbO_1zx4J_SjpI49YCWPA1gn2kWETrHxHA9K42C9yTGAp8GREd8j45FBLxX8_jklV8J89sl1DBglqJGQ51gNVi1aoEpuPB9OMRqSitpCwrXLTqmgxpy2sRDDMhGavUPOdiS1SHvjpV3Ms97VKNQboBQlL5qzr49uMrE4EYzoNvF8-v5mcVVlkWB3RELtv0hrnYCMz7KjiNojqfvqlDFfgyT3lIO1ApIV-VyK_05y99Ko5tfSOChRZTNCvTaLxDDcjHahtDkNqW_urR7zviFhppbvF8E4h-7udtz3xH54zZCXBfIUI4bpFj-0sScdm8JOmegO0k4vtx5iwyAFdLguk0JcUSuVs4zoDBAp6m47I7Z9eRqzsx_xhWp36DRqY6ElsH5BV52fQUG_yufoBs9q62GL9fB9ant3gm4mwsIGNuGwygH3DqEN1HSuwnO_L_V1l4HB-HnO9pJx18=w3011-h1994-no?authuser=2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
}

.about-me {
    font-size: 1.3vw;
    background-color: rgba(130, 145, 147, .8);
    border-radius: 5px;
    position: absolute;
    margin-left: 7vw;
    padding: 15px;
    bottom: 35%;
    width: 30%;
    color: var(--header-text-color);
}

/* Hero End */

/* Contact Me Start */

#contact-me {
    margin: auto;
    width: 60%;
    margin-top: 70px;
    margin-bottom: 70px;
}

#contact-me h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    background-color: var(--header-text-color);
}

#text-submit {
    height: 100px;
}

/* Contact Me End */

/* Footer Start */

footer {
    padding: 40px;
    background-color: var(--button-color);
    color: white;
}

footer a {
    text-decoration: none;
    margin-right: 15px;
}

footer svg {
    transition: .3s;
}

footer svg:hover {
    opacity: .5;
}

footer h2,
footer p {
    text-align: center;
}

/* Media Queries Start */

@media screen and (max-width: 768px) {

    ul li a {
        font-size: 16px;
    }

    /* position picture from top */
    .hero {
        background-position: bottom;
    }

    /* center about me */
    .about-me {
        font-size: 15px;
        position: relative;
        margin: 30px;
        color: var(--header-text-color);
        width: auto;
        bottom: auto;
        top: 25%;
    }
}