:root {
    --main-bg-color: #fff;
    --secondary-bg-color: #ababab;
    --header-text-color: whitesmoke;
    --title-font: 'Sawarabi Mincho', sans-serif;
}

/* General Styling Start */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: var(--main-bg-color);
}

h1 {
    font-family: var(--title-font);
    color: var(--header-text-color);
    font-size: 40px;
}
/* General Styling End */

/* Header Start */
.title {
    text-align: center;
    margin: 15px;
}

.title h1 {
    margin-bottom: 0px;
}

#logo-img {
    border-radius: 90%;
    height: 60px;
    box-shadow: 0 0 5px;
}

header h2 {
    font-size: 20px;
    color: var(--header-text-color);
}

ul {
    margin: 10px;
}

ul li a {
    font-size: 15px;
}

ul li a:hover {
    font-weight: bolder;
    text-decoration: underline
}


.navbar {
    background-color: var(--secondary-bg-color);
}